<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Album')"></head>
<body>
<nav th:replace="fragments::menu"></nav>
<main>
    <h1 th:if="not ${album}" th:text="|Album ${id} niet gevonden.|"></h1>
    <div th:if="${album}" th:object="${album}">
        <div class="delete">
            <h2 th:text="|*{artiest.naam} - *{naam}|"></h2>
            <form method="post" th:action="@{/album/{id}/verwijder(id=${album.id})}">
                <button class="rounded">Verwijderen</button>
            </form>
        </div>
        <ul>
            <li th:each="track:*{tracks}" th:object="${track}" th:text="|*{naam} (*{tijd})|"></li>
        </ul>
        <form method="post" th:action="@{/album/{id}/track(id=${album.id})}" th:object="${trackForm}">
            <label>Track:
                <input th:field="*{naam}" type="text" class="rounded" required>
                <span th:errors="*{naam}"></span>
            </label>
            <label>Tijd:
                <input th:field="*{tijd}" type="text" class="rounded" placeholder="hh:mm:ss">
            </label>
            <button class="rounded">Toevoegen</button>
        </form>
        <div>Totale tijd:
            <th:block th:text="${album.tijd}"></th:block>
        </div>
    </div>
    <form method="post" th:action="@{/album/{id}/score(id=${album.id})}" th:object="${scoreForm}">
        <label>Score:
            <input th:field="*{score}" type="number" min="0" max="10" class="rounded">
            <span th:errors="*{score}"></span>
        </label>
        <button class="rounded">Wijzigen</button>
        <div th:if="${param.idScoreGewijzigd}"></div>
    </form>
</main>
<footer th:replace="fragments::footer"></footer>
</body>
</html>