<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Album')"></head>
<body>
<nav th:replace="fragments::menu"></nav>
<div class="container">
    <h1 th:if="not ${album}" th:text="|Album ${id} niet gevonden.|"></h1>
    <div th:if="${album}" th:object="${album}">
        <div class="delete">
            <h2 th:text="|*{artiest.naam} - *{naam}|"></h2>
            <button class="rounded" data-bs-toggle="modal" data-bs-target="#waarschuwingModal">Verwijderen</button>
        </div>

        <div class="modal fade" id="waarschuwingModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" style="color: red">Aandacht!</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        Weet je zeker dat je dit album wilt verwijderen?
                    </div>
                    <div class="modal-footer">
                        <form method="post" th:action="@{/album/{id}/verwijder(id=${album.id})}">
                            <button class="rounded" data-bs-dismiss="modal">Verwijderen</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <ul>
            <li th:each="track:*{tracks}" th:object="${track}" th:text="|*{naam} (*{tijd})|"></li>
        </ul>
        <form method="post" th:action="@{/album/{id}/track(id=${album.id})}" th:object="${trackForm}">
            <label>Track:<span th:errors="*{naam}"></span>
                <input th:field="*{naam}" type="text" class="rounded" required>
            </label>
            <label>Tijd:
                <input th:field="*{tijd}" type="text" class="rounded" placeholder="hh:mm:ss" required>
            </label>
            <button class="rounded">Toevoegen</button>
        </form>
        <div>Totale tijd:
            <th:block th:text="${album.tijd}"></th:block>
        </div>
    </div>
    <form method="post" th:action="@{/album/{id}/score(id=${album.id})}" th:object="${scoreForm}">
        <label>Score:<span th:errors="*{score}"></span>
            <input th:field="*{score}" type="number" min="0" max="10" class="rounded">
        </label>
        <button class="rounded">Wijzigen</button>
        <div th:if="${param.idScoreGewijzigd}"></div>
    </form>
</div>
<footer th:replace="fragments::footer"></footer>
</body>
</html>