<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Mijn beste albums')"></head>
<body>
<nav th:replace="fragments::menu"></nav>
<div class="container">
    <h4>De Pagina van
        <th:block th:text="${gebruiker.get().naam}"></th:block>
    </h4>
    <ul>
        <li th:each="album:${gebruiker.get().getAlbums()}" th:object="${album}">
            <a th:text="|*{artiest.naam} - *{naam}|" th:href="@{/gebruiker/{gebruikerId}/album/{albumId} (gebruikerId=*{gebruiker.id}, albumId=${album.id})}"></a>
        </li>
    </ul>

    <form method="post" th:action="@{/gebruiker/{gebruikerId}/album (gebruikerId=${gebruiker.get().id})}" th:object="${albumForm}">
        <label>Album toevoegen:<span th:errors="*{albumNaam}"></span>
            <input th:field="*{albumNaam}" type="text" class="rounded" required>
        </label>
        <label>Artiest:
            <input th:field="*{artiestNaam}" type="text" class="rounded" required>
        </label>
        <button class="rounded">Toevoegen</button>
    </form>
</div>
<footer th:replace="fragments::footer"></footer>
</body>
</html>