<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Mijn beste albums')"></head>
<body>
<nav th:replace="fragments::menu"></nav>
<main>
    <th:block th:each="gebruiker:${gebruikers}" th:object="${gebruiker}">
        <h4>De Lijst van <th:block th:text="*{naam}"></th:block></h4>
        <ul>
            <li th:each="album:${gebruiker.getAlbums()}" th:object="${album}">
                <a th:text="|*{artiest.naam} - *{naam}|" th:href="@{/album/{id}(id=*{id})}"></a>
            </li>
        </ul>
    </th:block>
</main>
<footer th:replace="fragments::footer"></footer>
</body>
</html>